<ul>
  <% current_user.notifications.order(read: :asc).each do |notification| %>
    <li><b><%= link_to notification.title, notification.url %></b>: <%= notification.description %></li>
  <% end %>
</ul>
