/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome.css";

.badge {
   position:relative;
}
.badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

div.centered {
  display: table;
  margin: 0 auto;
}

div, button, a, table {
  margin: 8px 0px;
}

input {
  margin: 0px 0px 8px 0px;
}

body {
  background-color: #F2F2F2;
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
}

label {
  display: block;
}

table {
  width: auto;
  border-collapse: collapse;
  tr:nth-of-type(odd) {
    background: #eee;
  }
  th {
    background: #333;
    color: white;
    font-weight: bold;
  }
  td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }
}

nav.navbar {
  font-size: 18px;
  background-color: #2E2F30;
  overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    li {
      /* This allow us to arrange list items in a row, without using float */
      display: inline-block;
      list-style-type: none;
      a {
        color: #CCCCCC;
        display: block;
        line-height: 2em;
        padding: 0.5em 0.5em;
        text-decoration: none;
        &:hover {
          color: #fff;
          background-color: #000;
        }
      }
      &.right {
        float: right;
        margin-right: 15px;
      }
    }
  }
}

.button {
  font-size: 14px;
  background: #616970;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #616970;
  color: white;
  text-decoration: none;
  margin: 2px;
  &:hover {
    background: #616985;
  }
  &.red {
    background: red;
  }
}

.container {
  line-height: 18px;
  margin: 33px;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

.invisible {
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
