// Place all the styles related to the Bets controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bets-charts {
  display: flex;
  flex-wrap: wrap;

  div {
    min-width: 200px;
    height: 400px;
    max-width: 600px;
    margin: 0 auto;
  }
}
