// Place all the styles related to the Gees controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gees-index-head {
  display: flex;
  justify-content: space-between;

  &div:nth-child(2) {
    margin-right: 30px;
  }
}

#gees-index-body {
  display: flex;
  justify-content: space-around;
}

#gee-title h1 {
  display: inline-block;
  margin-right: 20px;
}

.tag {
  &.green {
    background: green;
  }
  &.grey {
    background: grey;
  }
  border-radius: 3px 3px 3px 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.gee-field {
  border: 2px solid grey;
  width: 30%;
  padding: 10px;
  margin: 15px 0px;
}

.card {
  width: 25%;
  min-width: 250px;
  margin: 10px;
  float: left;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding: 2px 16px 16px 16px;

  .title {
    font-size: large;
    font-weight: bold;
  }

  p {
    color: grey;
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
