// Place all the styles related to the Users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

$avatar-medium-width: 250px;
$avatar-medium-height: 250px;
$avatar-thumb-width: 50px;
$avatar-thumb-height: 50px;

.avatar-thumb-img {
  width: $avatar-thumb-width;
  height: $avatar-thumb-height;
  border-radius: 50%;
}

#user-info {
  .image-holder {
    display: inline-block;
    width: $avatar-medium-width;
    height: $avatar-medium-height;
    position: relative;
  }
  .image-holder:before {
    content:"";
    display: block;
  }
  .image-holder img {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: $avatar-medium-width;
    height: $avatar-medium-height;
  }
}

#user-details {
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
}

#user-title {
  h1 {
    display: inline-block;
  }
  a {
    margin-left: 15px;
  }
}

.active.button {
  background: #c00;
}
